body {
    margin: 0;
}

:root {
    --primary-color: #fff;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}

.startButton {
    border: 0;
    font-weight: bold;
    background: radial-gradient(darkred, black);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

.ball {
    width: 400px;
    height: 400px;
    background: radial-gradient(var(--primary-color) -130%, #000);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball__output {
    width: 150px;
    height: 150px;
    background: var(--primary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 10px inset gray;
    font-weight: bold;
}

#root {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkcyan
}